/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	// ...
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;

}
// rgb(83, 112, 192)
button {
	background-color: rgba(83, 112, 192, 0.7);
	border-color: transparent;
	color: white;
	font-weight: bold;
	padding: 4px;
	border-radius: 2px;
	// transition:
	font-family: Arial, Helvetica, sans-serif;
	// text-transform:
	font-size: 10px;
	// text-align:
}

.gear {
	background-color: white;
	color: black;
}

// .gear:hover {
// 	background-color: rgba(128, 128, 128, 0.1);
// }

button:hover {
	background-color: rgb(83, 112, 192)
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

